@import '../../../../stylesheets/media';
@import '../../../../stylesheets/theme';
@import '../../../../stylesheets/utility/functions';
@import '../../../../stylesheets/utility/mixins';


$border: solid 1px hsla( 0, 0, 0, 0.1 );
$padding: 0.5rem;

.body {
  --bg-color: overlay( 0.2 );

  @include boxShadow( 1 );

  background: var( --bg-color );
  border-radius: 16px;
  display: flex;
  flex-flow: row nowrap;
  margin: 0.5rem 1rem;
  max-width: 67%;
  padding: $padding;
  width: fit-content;

  &__mine {
    background: overlay( 0.2 );
    margin-left: auto;
  }

  &__theirs {
    //background: overlay( 0.1 );
  }
}

.avatar {
  $size: 60px;

  border-radius: 2px;
  height: $size;
  width: $size;
}

.content {
  margin-left: $padding;

  &_header {
    margin-bottom: 0.5rem;
  }

  &_name {
    color: rgba( theme( text ), 0.9 );
    font-weight: 800;
  }

  &_time {
    color: rgba( theme( text ), 0.875 );
    font-size: 0.75rem;
    margin-left: 0.5rem;
  }

  &_text {
    color: rgba( theme( text ), 0.875 );
    white-space: pre-line;
  }
}
