@import '../../stylesheets/theme';

.body {
  align-items: center;
  background: overlay( 0.2 );
  box-shadow: 1px 1px 4px #000;
  color: rgba( theme( text ), 0.875 );
  display: flex;
  flex-flow: row nowrap;
  font-weight: bold;
  min-height: 2rem;
  position: relative;
  text-align: center;
  user-select: none;
}

.avatar {
  $size: 1.5rem;

  border-radius: 50%;
  height: $size;
  margin-right: 0.5rem;
  width: $size;
}

.title {
  align-items: center;
  display: flex;
  font-size: 1.125rem;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  user-select: none;
  width: 100%;
  // Since the title is full-size and absolutely positioned,
  // place it behind other UI elements as to not occlude mouse events.
  z-index: -10;
}

.username {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  margin-left: 1rem;
}
