@import '../../stylesheets/theme';

.body {
  align-items: center;
  background: overlay( 0.2 );
  box-shadow: 1px 1px 4px #000;
  color: rgba( theme( text ), 0.875 );
  display: flex;
  flex-flow: row nowrap;
  font-weight: bold;
  min-height: 2rem;
  position: relative;
  text-align: center;
}

.title {
  align-items: center;
  display: flex;
  font-size: 1.125rem;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  user-select: none;
  width: 100%;
}

.username {
  font-size: 0.875rem;
  margin-left: 1rem;
}
